  input {
    font-size: 20px; /* Määrittää tekstin koon */
    padding-left: 40px; /* 20 pikseliä tyhjää sisältä vasemmalta */
    width: 130px; /* Asettaa leveyden */
  }
  label {
    font-size: 20px; /* Määrittää tekstin koon */
    font-weight: bold; /* Teksti lihavoiduksi */
    padding-left: 40px; /* 20 pikseliä tyhjää sisältä vasemmalta */
  }
    