:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.8;
  font-weight: 200;
  font-size: 14px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #bfd4f3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.0em;
  line-height: 1.0;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #10a9cb;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

label {
  margin-right: 10px; /* Lisää 10px väliä oikealle */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #d1def0;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #7da6de ;
    border: 1px solid #163c4f; /* Tumma reunus */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 3px 3px 5px #678999, inset -3px -3px 5px #ffffff; /* Ulkoinen varjo + sisäinen kohokuvio */
  transition: all 0.2s ease-in-out;
}

button:active {
  box-shadow: inset 3px 3px 5px #0a3041, inset -3px -3px 5px #ffffff; /* Lisää kohokuvio kun painike painetaan */
} 
}

button:hover {
  background-color: #89a2bb; /* Muuttaa taustavärin */
  box-shadow: 5px 5px 8px #456677, inset -3px -3px 5px #ffffff; /* Korostaa varjoa */
  transform: scale(1.05); /* Kasvattaa hieman kokoa */
}